.App {
  text-align: center;
  background: #08274a;
  min-height: 100vh;
  padding-bottom: 30px;
  padding-left: 7vw;
  padding-right: 7vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.scrollbarCustom::-webkit-scrollbar {
  width: .5em;
  background: white
}

.scrollbarCustom::-webkit-scrollbar-thumb {
  background-color: #626262;
  border-radius: 10px;
  outline: 4px solid #626262;
}