.App {
  text-align: center;
  background: #08274a;
  /*min-height: 100vh;*/
  height: 'auto';
  padding-bottom: 30px;
  padding-left: 5vw;
  padding-right: 5vw;
}
@media (max-width: 600px) {
  .App {
    padding-left: 2vw;
    padding-right: 2vw
  }
}
@media (max-width: 900px) {
  .App {
    padding-left: 5vw;
    padding-right: 5vw
  }
}


.scrollbarCustom::-webkit-scrollbar {
  width: .5em;
  background: white
}

.scrollbarCustom::-webkit-scrollbar-thumb {
  background-color: #626262;
  border-radius: 10px;
  outline: 4px solid #626262;
}